/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/server_python/model/
/server_python/__pycache__
/server_python/image/
/server_python/data_image/
/server_python/model_tf/